<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../public/css/chiking.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>

    <body>
        <div id="chiking_title_bg">
            <div id="chiking_title">치킹</div>
            <div id="chiking_logo"></div>
        </div>
        <div id="nav_bar">
            <div id="sub_title">대한민국 최고의 치킨을 가려라!</div>
        </div>
        <div id="input_wrap">
            <div id="search_wrap">
                <input id="search_input" type="text" name="my_name" placeholder="ex) 갈비천왕">
                <i class="material-icons search_icon">search</i>
            </div>
            <div id="facebook_login_btn">Facebook Login</div>
        </div>
        <div id="vote_card_wrap">
            <div class="vote_card">
                <div class="vote_card_rank">1.</div>
                <img class="vote_card_brand" src="../public/img/bhc.png">
                <div class="vote_card_name">뿌링클</div>
                <img class="vote_card_vote" src="../public/img/vote.svg">
                <div class="vote_card_count">: 17</div>
                <div class="vote_card_percent">투표율 : 10%</div>
                <div class="vote_card_votebtn">투표</div>
            </div>
        </div>
        
    </body>
</html>