<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../public/css/chiking.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>

    <body>
        <div id="chiking_title_bg">
            <div id="chiking_title">치킹</div>
            <div id="chiking_logo"></div>
        </div>
        <div id="nav_bar">
            <div id="sub_title">대한민국 최고의 치킨을 가려라!</div>
        </div>
        <div id="input_wrap">
            <div id="search_wrap">
                <input id="search_input" type="text" name="my_name" placeholder="ex) 갈비천왕">
                <i class="material-icons search_icon">search</i>
            </div>
            
                <a href="/auth/facebook" id="facebook_login_btn">Facebook Login</a>
            
                
            
        </div>
        <div id="vote_card_wrap">
            
            <div class="vote_card">
                <div class="vote_card_rank">1.</div>
                <img class="vote_card_brand" src="../public/img/bhc.png">
                <div class="vote_card_name">뿌링클</div>
                <img class="vote_card_vote" src="../public/img/vote.svg">
                <div class="vote_card_count">: 5</div>
                <div class="vote_card_percent">투표율 : 10%</div>
                <div class="vote_card_votebtn">투표</div>
            </div>
            <div class="vote_card">
                <div class="vote_card_rank">10</div>
                <img class="vote_card_brand" src="../public/img/bhc.png">
                <div class="vote_card_name">볼케이노모짜렐라</div>
                <img class="vote_card_vote" src="../public/img/vote.svg">
                <div class="vote_card_count">: 5</div>
                <div class="vote_card_percent">투표율 : 10%</div>
                <div class="vote_card_votebtn">투표</div>
            </div>
         
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        var logined = "<%=JSON.stringify(logined)%>"
        var _user = {}
        logined = JSON.parse(logined)
        if(logined){
            $.ajax({
                url:"/info",
                dataType:"json",
                type:"POST",
                success:function(result){
                    if(result.result==true){
                        console.log("통신성공")
                        _user = result;
                        console.log(_user.name, _user.email)
                    }
                },
                error : function(err){
                    console.log(err)
                },
                complete:function(){
                    console.log("일단 보냄")
                }
            })
        }
        console.log(logined)
    $(document).ready(function(){

        $('.vote-btn').click(function(e){
            if(logined){
                var chicken = $(this).attr("id");
            $.ajax({
                url:"/vote",
                dataType:"json",
                type:"POST",
                data:{
                    id:_user.id,
                    chicken:chicken
                },
                success:function(result){
                    if(result.result==true){
                        console.log("통신성공 ")
                        window.location.replace("http://chiking.kr");
                    }else if(result.result==false){
                        if(result.type=="already"){
                            alert("이미 투표하셨습니다.")
                        }else if(result.type=="nocount"){
                            alert("투표 3번을 초과하셨습니다")
                        }
                    }
                }
            })
            }else{
                alert("로그인 하세요")
            }
        })
    })

        
    </script>
    </body>
</html>